{
"dataset_name": "weibo",
"data_dir": "data/",
"data1_maxlen": 300,
"data2_maxlen": 50,
"model_tag": "training_model",
"saved_model_dir": "./checkpoint/model.3200",

"word_dict_path": "data/matchpyramid/word_dict.txt",
"test_data_path": "data/weibo/weibo_dataset.json",
"output_file": "data/model_features/matchpyramid.result.json"
}
