{
"model_file": "model_mp",
"data_dir": "data/matchpyramid/",
"data1_maxlen": 300,
"data2_maxlen": 50,
"batch_size": 64,
"embed_size": 300,
"reverse_doc": false,
"train_iters": 5000,
"data1_psize": 3,
"data2_psize": 10,
"display_interval": 50,
"save_model_iters": 200,
"test_model_iters": 200,
"model_tag": "training_model",

"tensorboard" : "./tensorboard/",
"saved_model_dir": "./checkpoint/model",

"log_file": "log/chatbot.log",
"relation_train_file": "relation.train.fold1.txt",
"relation_valid_file": "relation.test.fold1.txt",
"relation_test_file": "relation.test.fold1.txt",
"corpus_path": "corpus.txt",
"query_corpus_path": "corpus_preprocessed.txt",
"doc_corpus_path": "corpus_preprocessed.txt",
"word_dict_path": "word_dict.txt",
"embedding_path": "embed_d300"
}
